# ðŸ§ª API Access Hands-On: Open-Meteo Weather API
In this notebook, you'll access real-time weather forecast data using a public API with no authentication required.

## âœ… Step 1: Make a GET request to the Open-Meteo API

In [1]:
import requests

url = "https://api.open-meteo.com/v1/forecast"
params = {
    "latitude": 40.71,   # New York City
    "longitude": -74.01,
    "hourly": "temperature_2m"
}
response = requests.get(url, params=params)
data = response.json()

# Print top-level keys
print(data.keys())

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'hourly_units', 'hourly'])

## âœ… Step 2: Extract and print hourly temperatures

In [2]:
# Extract temperature values
temps = data["hourly"]["temperature_2m"][:10]
print("Sample hourly temperatures:", temps)

Sample hourly temperatures: [27.5, 25.8, 25.1, 24.3, 24.1, 23.5, 22.6, 22.0, 21.5, 21.0]

## âœ… Step 3: Store in a DataFrame and Save

In [3]:
import pandas as pd

# Create DataFrame
df = pd.DataFrame({
    "time": data["hourly"]["time"][:10],
    "temperature_2m": temps
})

df.to_csv("weather_sample.csv", index=False)
df

               time  temperature_2m
0  2025-07-06T00:00            27.5
1  2025-07-06T01:00            25.8
2  2025-07-06T02:00            25.1
3  2025-07-06T03:00            24.3
4  2025-07-06T04:00            24.1
5  2025-07-06T05:00            23.5
6  2025-07-06T06:00            22.6
7  2025-07-06T07:00            22.0
8  2025-07-06T08:00            21.5
9  2025-07-06T09:00            21.0