# ðŸ§ª Web Scraping Hands-On: Books to Scrape
In this notebook, you'll learn how to scrape data from a simple, static website using `requests` and `BeautifulSoup`.

## âœ… Step 1: Fetch the HTML content

In [1]:
import requests
from bs4 import BeautifulSoup

url = "http://books.toscrape.com/"
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)
html = response.text

# Create a BeautifulSoup object
soup = BeautifulSoup(html, 'html.parser')

## âœ… Step 2: Extract book titles

In [2]:
# Find all book title elements
titles = [tag['title'] for tag in soup.select('article.product_pod h3 a')]
print("Sample Book Titles:")
for title in titles[:10]:
    print("-", title)

Sample Book Titles:
- A Light in the Attic
- Tipping the Velvet
- Soumission
- Sharp Objects
- Sapiens: A Brief History of Humankind
- The Requiem Red
- The Dirty Little Secrets of Getting Your Dream Job
- The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
- The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
- The Black Maria

## âœ… Step 3: Extract book prices

In [3]:
prices = [price.text for price in soup.select('.price_color')]
print("Sample Prices:")
print(prices[:10])

Sample Prices:
['Ã‚Â£51.77', 'Ã‚Â£53.74', 'Ã‚Â£50.10', 'Ã‚Â£47.82', 'Ã‚Â£54.23', 'Ã‚Â£22.65', 'Ã‚Â£33.34', 'Ã‚Â£17.93', 'Ã‚Â£22.60', 'Ã‚Â£52.15']

## âœ… Step 4: Create a DataFrame and Save

In [4]:
import pandas as pd

books = pd.DataFrame({
    "title": titles,
    "price": prices
})

books.to_csv("books_scraped.csv", index=False)
books.head()

                                   title    price
0                   A Light in the Attic  Ã‚Â£51.77
1                     Tipping the Velvet  Ã‚Â£53.74
2                             Soumission  Ã‚Â£50.10
3                          Sharp Objects  Ã‚Â£47.82
4  Sapiens: A Brief History of Humankind  Ã‚Â£54.23

## ðŸ’¡ Reflection Questions
- What would make this site harder to scrape?
- What should you check before scraping any website?
- What are some ethical limits of scraping?