# EDA Task 2: Summary Statistics

## Activity 1: Titanic Dataset — Summary of Variables

In [1]:
import pandas as pd
import seaborn as sns

# Load Titanic dataset
df_titanic = sns.load_dataset('titanic')

# Summary statistics for numerical variables
print("--- Numerical Summary ---")
print(df_titanic.describe())

# Summary statistics for categorical variables
print("\n--- Categorical Summary ---")
print(df_titanic.select_dtypes('object').describe())

# Specific column summaries
print("\nMean age:", df_titanic['age'].mean())
print("Median fare:", df_titanic['fare'].median())
print("Standard deviation of fare:", df_titanic['fare'].std())

# Value counts for categorical variables
print("\nValue counts for 'sex':")
print(df_titanic['sex'].value_counts())

print("\nValue counts for 'embarked':")
print(df_titanic['embarked'].value_counts(dropna=False))

print("\nValue counts for 'class':")
print(df_titanic['class'].value_counts())

--- Numerical Summary ---
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

--- Categorical Summary ---
         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

Mean age: 29.69911764705882
Median fare: 14.4542
Standard deviation of fare: 49.693428597180905

Value counts for 'sex':
male      577
female    314
Name: sex, dtype: int64

Value counts for 'embarked':
S      644
C      168
Q       77
NaN      2
Name: embarked, dtype: int64

Value counts for 'class':
Third     491
First     216
Second    184
Name: class, dtype: int64

## Activity 2: Simulated Dataset — Summary of Variables

In [2]:
import numpy as np

# Simulate the dataset (same as in Task 1)
np.random.seed(0)
df_sim = pd.DataFrame({
    'age': np.random.randint(18, 80, 100),
    'income': np.random.normal(50000, 15000, 100),
    'gender': np.random.choice(['male', 'female'], size=100),
    'purchased': np.random.choice([0, 1], size=100)
})

# Summary statistics for numerical variables
print("--- Numerical Summary ---")
print(df_sim.describe())

# Value counts for categorical variables
print("\nValue counts for 'gender':")
print(df_sim['gender'].value_counts())

print("\nValue counts for 'purchased':")
print(df_sim['purchased'].value_counts())

--- Numerical Summary ---
              age        income   purchased
count  100.000000    100.000000  100.000000
mean    46.620000  49336.921602    0.510000
std     18.117897  15665.139033    0.502418
min     18.000000  12238.443458    0.000000
25%     31.750000  40857.598263    0.000000
50%     46.500000  49537.226276    1.000000
75%     60.500000  62198.434420    1.000000
max     77.000000  78626.931505    1.000000

Value counts for 'gender':
female    53
male      47
Name: gender, dtype: int64

Value counts for 'purchased':
1    51
0    49
Name: purchased, dtype: int64