# ðŸ§ª Synthetic Data Hands-On: Simulated Health Dataset
This notebook demonstrates how to generate synthetic health data using NumPy and pandas. The generated data includes age, height, weight, BMI, and a simple disease indicator.

## âœ… Step 1: Generate Random Patient Data

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
n = 100  # number of patients

df = pd.DataFrame({
    "age": np.random.randint(18, 80, size=n),
    "height_cm": np.random.normal(loc=170, scale=10, size=n).round(1),
    "weight_kg": np.random.normal(loc=70, scale=15, size=n).round(1)
})

# Calculate BMI and assign hypertension if BMI > 25
df["bmi"] = (df["weight_kg"] / (df["height_cm"] / 100) ** 2).round(1)
df["hypertension"] = (df["bmi"] > 25).astype(int)

df.head()

   age  height_cm  weight_kg   bmi  hypertension
0   56      177.0       63.4  20.2             0
1   69      168.3       75.7  26.7             1
2   46      160.9       99.0  38.2             1
3   32      181.9       71.2  21.5             0
4   60      177.9       63.8  20.2             0

## âœ… Step 2: Summarize and Save the Data

In [2]:
df.describe()

              age   height_cm   weight_kg         bmi  hypertension
count  100.000000  100.000000  100.000000  100.000000    100.000000
mean    50.270000  170.210000   69.036000   24.131000      0.410000
std     19.176403    9.863866   15.712374    6.585256      0.494311
min     19.000000  145.000000   26.800000   10.500000      0.000000
25%     34.750000  162.925000   57.850000   19.975000      0.000000
50%     51.500000  169.750000   70.550000   23.000000      0.000000
75%     68.000000  177.050000   78.525000   28.900000      1.000000
max     79.000000  196.600000  104.100000   41.200000      1.000000

In [ ]:
df.to_csv("synthetic_health_data.csv", index=False)
print("Synthetic data saved as 'synthetic_health_data.csv'")

## ðŸ’¬ Discussion
- How realistic is this dataset?
- What assumptions did we make?
- What additional variables or complexity could make this more useful?